
<div class="container-left">
	<nav>
		<ul>
			<li><a href="#"><i class="fas fa-angle-left fa-lg"></i>Recuar Menu</a></li>
			<!-- <hr> -->
			<li><a href="#" class="active"><i class="fas fa-tachometer-alt fa-lg"></i>Dashboard</a></li>
			<li><a href="#"> <i class="fas fa-user-plus fa-lg menu-icon-before"></i> Cadastros <i class="fas fa-angle-right fa-lg menu-icon-after"></i> </a></li>
			<li><a href="#"><i class="fas far fa-clipboard fa-lg"></i>Estoque</a></li>
			<li><a href="#"><i class="fas fa-hand-holding-usd fa-lg"></i>Metas Financeiras</a></li>
			<li><a href="#"><i class="far fa-question-circle fa-lg"></i>Ajuda e Suporte</a></li>
			<li><a href="#"><i class="fas fa-cogs fa-lg"></i>Opções</a></li>
		</ul>
	</nav>
</div>