<!DOCTYPE html>
<html lang="pt_br">
<head>

	<%- include('includes/head') %>	
	
</head>
<body>

	<main>
		<%- include('includes/header') %>
		<!-- <%- include('includes/navbar') %> -->

		<section class="content">
			
		</section>
	</main>

</body>
</html>