<!DOCTYPE html>
<html lang="pt_br">
<head>

	<%- include('includes/head') %>	
	<script type="text/javascript" src="/admin/js/teste.js"></script>
	<link rel="stylesheet" href="/admin/css/dashboard.css">
	
</head>
<body>
	<main>

		
		<section class="container-left">
			<%- include('includes/navbar', {"active": "dashboard"}) %>	
		</section>

		<section class="container-fluid content container-right">
			<div class="row">
				<div class="col-4">
					<div class="chart">
						<header class="chart-header">Quantidade de produtos</header>
						<section class="chart-body">
							<div class="text-chart">823</div>
						</section>
					</div>
				</div>
				<div class="col-4">
					<div class="chart">
						<header class="chart-header">Produtos Inativos</header>
						<section class="chart-body">
							<div class="text-chart">150</div>
						</section>
					</div>
				</div>
				<div class="col-4">
					<div class="chart">
						<header class="chart-header">Produtos a Vencer</header>
						<section class="chart-body">
							<div class="text-chart">300</div>
						</section>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-4">
					<div class="chart">
						<header class="chart-header">Quantidade de produtos</header>
						<section class="chart-body">
							<div class="text-chart">823</div>
						</section>
					</div>
				</div>
				<div class="col-4">
					<div class="chart">
						<header class="chart-header">Produtos Inativos</header>
						<section class="chart-body">
							<div class="text-chart">150</div>
						</section>
					</div>
				</div>
				<div class="col-4">
					<div class="chart">
						<header class="chart-header">Produtos a Vencer</header>
						<section class="chart-body">
							<div class="text-chart">300</div>
						</section>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-12">
					<div id="teste"></div>
				</div>
			</div>

			<div class="row">
				<div class="col-6">
					<div id="teste2"></div>
				</div>
				<div class="col-6">
					<div id="teste3"></div>
				</div>
			</div>

			<!-- <%- include('includes/header') %>			 -->
		</section>
	</main>

</body>
</html>