<!DOCTYPE html>
<html lang="pt_br">
<head>

	<%- include('includes/head') %>	
	
</head>
<body>
	<h1>teste</h1>
	<main>
	<%- include('includes/header') %>
	<%- include('includes/navbar') %>
	</main>

	<%- include('includes/footer') %>

</body>
</html>