html, body{
	background-color: #31353c;
	width: 100%;
	position: relative;
	min-height: 100%;
	margin: 0;
	color: white;
}
	main{
		position: relative;
		width: 100%;
	}
		.container-left{
			width: 100%;
			max-width: 250px;
			transition: max-width 0.3s;
			background-color: #2a2a2b;
			height: 100vh;
			position: fixed;
			top: 0;
			left: 0;
		}
		.container-left-toggled{
			max-width: 55px;
		}	
		.container-right{
			width: 100%;
			padding-left: 265px;
			box-sizing: border-box;
			transition: padding 0.3s;
		}
		.container-right-max{
			padding-left: 70px; 
		}
		.row{
			margin-top: 15px;
			margin-bottom: 15px;
		}

