html, body{
	background-color: #31353c;
	width: 100%;
	height: 100%;
	position: relative;
	min-height: 100%;
	margin: 0;
	color: white;
}
	main{
		left: 0;
		top: 0;
		position: relative;
		width: 100%;
		height: 100%;
	}
		.content{
			width: 85%;
			height: 100%;
			position: absolute; 
			right: 0;
			top: 0;
			text-align: center;
		}
		.row{
			margin-top: 15px;
			margin-bottom: 15px;
		}

