.pagination li a.page-link{
	background-color: #2a2a2b;
	background-color: #444447;
	border-color: #2a2a2b;
	color: white;
}
	.pagination li a.page-link:hover{
		background-color: #1d1c1b;
	}

.pagination li a.disabled{
	background-color: #2a2a2b;
}

.page-item.disabled .page-link{
	background-color: #2a2a2b;
	background-color: #444447;
	border-color: #2a2a2b;
}

.page-item.active .page-link, .page-item.active .page-link:hover{
	background-color: #ce8704;
	border-color: #ce8704;
}

	.page-item .page-link:focus{
		box-shadow: none;
	}
