.pagination li a.page-link, .page-item.disabled .page-link{
	background-color: #444447;
	border-color: #2a2a2b;
	color: white;
	min-height: 30px;
	min-width: 30px;
	padding: 0px 6px;
	line-height: 30px;
	text-align: center;
}
	.pagination li a.page-link:hover{
		background-color: #1d1c1b;
	}

.pagination li a.disabled{
	background-color: #2a2a2b;
}

.page-item.disabled .page-link{
	color: #6c757d;
}

.page-item.active .page-link, .page-item.active .page-link:hover{
	background-color: #0069d9;
	border-color: #0069d9;
}

	.page-item .page-link:focus{
		box-shadow: none;
	}
